body {
  background-color: #dff6f0;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  text-align: center;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
  background: #5fc1eef1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  background: #5fc1eef1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

hr {
  border-top: dotted;
  border-width: 4px;
  color: none;
}

.header {
  font-family: "Montserrat", sans-serif;
}

.top {
  background-image: linear-gradient(to bottom right, #e8505b, #46b3e6);
  padding: 200px;
}

.toph {
  margin-top: 0px;
  font-family: "Satisfy", cursive;
  font-size: 100px;
  text-align: center;
  color: #dff6f0;
}

.intro {
  width: 75%;
  margin: auto;
  text-align: left;
  margin-bottom: 80px;
}

.hello {
  font-family: "Montserrat", sans-serif;
  color: #5fc1eef1;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.big {
  font-size: 60px;
}

.mid {
  background-color: #dff6f0;
  padding: 20px;
}

.skills {
  text-align: center;
  margin: auto;
  width: 75%;
  padding: 20px;
}

.skill-row {
  text-align: left;
  margin-top: 80px;
  margin-bottom: 80px;
}

.bottom {
  text-align: center;
  background-image: linear-gradient(to top left, #e8505b, #46b3e6);
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 30px;
}
.copyright {
  color: #dff6f0;
}
.skill-img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}
.code {
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  color: #dff6f0;
}

.btn {
  width: 50px;
  height: 20px;
  border: 2px solid #5fc1eef1;
  color: #5fc1eef1;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1em;
}
.btn:hover {
  background-image: linear-gradient(to top left, #e8505b, #46b3e6);
  color: white;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 8px;
  border-radius: 50%;
}

.fa-linkedin {
  color: #dff6f0;
}
.fa-twitter {
  color: #dff6f0;
}
.fa-globe {
  color: #dff6f0;
}

.fa-linkedin:hover {
  background-color: #5fc1eef1;
}
.fa-twitter:hover {
  background-color: #5fc1eef1;
}
.fa-globe:hover {
  background-color: #5fc1eef1;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #dff6f0;
  }
  49% {
    color: #dff6f0;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #dff6f0;
  }
}
