:root {
	--primary: #39a2db;
	--secondary: #a2dbfa;
	--light: #e8f0f2;
	--dark: #053742;
	--fontHeading: "Montserrat", sans-serif;
	--fontBody: "Roboto", sans-serif;
	--fontCode: "Roboto Mono", monospace;
	font-size: 18px;
}

body {
	margin: 0;
	font-family: var(--fontBody);
}

h1,
h2 {
	margin: 0;
	font-family: var(--fontHeading);
}

.main {
	display: flex;
	flex-direction: row;
}
/* main nav */
.nav-div {
	width: 15%;
	background-color: var(--dark);
	color: var(--light);
	padding: 1.5em;
	text-align: center;
	position: fixed;
	height: 100%;
}
.nav-div ul {
	padding-block: 1em;
	list-style: none;
	padding-left: 0;
}
.nav-div li {
	margin-block: 1em;
}
.nav-div a {
	text-decoration: none;
	color: var(--light);
	font-size: 1rem;
	transition: transform 0.5s;
}
.nav-div a:hover {
	color: var(--primary);
	transform: scale(1.05);
}
.nav-div i {
	color: var(--primary);
	font-size: 1.5rem;
	margin-inline: 0.5em;
}

.nav-div i:hover {
	transform: scale(1.02);
}
.social-icons {
	position: fixed;
	margin-top: auto;
	text-align: center;
	bottom: 2em;
}

/* mobile nav */
.nav-mobile {
	z-index: 1000;
	display: none;
}
.navbar {
	background-color: var(--dark);
}
.nav-wrapper {
	max-width: 1200px;
	padding: 10px;
	text-align: center;
}
.nav {
	position: absolute;
	text-align: left;
	list-style: none;
	background: var(--dark);
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	display: none;
}
.nav li {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.2em;
}
.nav-logo {
	border-radius: 50%;
	display: inline;
	width: 50px;
}
.nav-toggle {
	display: none;
}
.nav-toggle:checked ~ .nav {
	display: block;
}

.nav-toggle-label {
	position: absolute;
	margin-left: 1em;
	left: 0;
	top: 2em;
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	/* border:1px solid red; */
}
.nav-toggle-label:hover {
	cursor: pointer;
}
.nav-toggle:checked ~ .nav-toggle-label span,
.nav-toggle:checked ~ .nav-toggle-label span::before,
.nav-toggle:checked ~ .nav-toggle-label span::after {
	background-color: var(--primary);
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background-color: var(--light);
	height: 3px;
	width: 2em;
	border-radius: 2px;
	margin: 0;
	padding: 0;
	position: relative;
	transition: background-color 0.5s;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: "";
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 8px;
}

.nav-toggle-label span::after {
	top: 8px;
}

.nav-link {
	text-decoration: none;
	font-size: 1.2rem;
	margin-inline: 10px;
	color: var(--light);
	transition: color 0.25s;
}

.nav-link:hover {
	color: var(--primary);
}
.content-div {
	width: 81.5%;
	margin-left: auto;
}

.g {
	color: goldenrod;
}

.header-section {
	background-color: var(--primary);
	color: var(--dark);
	padding: 3em;
}

.header-section h1 {
	margin: 0;
	margin-bottom: 0.8em;
	font-family: var(--fontCode);
	font-size: 2.5rem;
}
.header-section h2 {
	margin: 0;
	font-family: var(--fontCode);
}

.header-design {
	display: flex;
	position: absolute;
	font-size: 6rem;
	top: 20px;
	right: 20px;
	color: var(--secondary);
}

.typewriter-text {
	display: inline-block;
	overflow: hidden;
	letter-spacing: 2px;
	animation: typing 2s steps(15, end), blink 0.75s step-end infinite;
	white-space: nowrap;
	border-right: 4px solid var(--dark);
	box-sizing: border-box;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 280.15px;
	}
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--dark);
	}
}

.about-me-section {
	background-color: var(--light);
	padding: 2em;
	line-height: 1.8em;
	text-align: center;
}
.about-img {
	width: 8em;
	border-radius: 50%;
	margin: 2em;
}
.about-p {
	text-align: left;
}

.skills-section {
	background-color: var(--light);
	color: var(--dark);
	padding: 2em;
}

.skills-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.skill {
	background-color: var(--primary);
	border-radius: 4px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	text-align: center;
	padding: 2em;
	margin: 1em;
	margin-inline: 3em;
}

.project-section {
	background-color: var(--light);
	padding: 2em;
}

.projects-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.project {
	background-color: white;
	border-radius: 10px;
	margin: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 2em;
	color: var(--dark);
	flex: 1;
	box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.1);
}

.project-img {
	width: 100%;
	border-radius: 4px;
	border: 1px solid var(--dark);
}

.contact-me-section {
	background-color: var(--dark);
	color: var(--light);
	padding: 2em;
}

.proj-link-btn {
	display: block;
	text-align: center;
	width: 50%;
	background-color: var(--primary);
	text-decoration: none;
	font-size: 0.8rem;
	color: var(--dark);
	padding: 0.8em;
	margin: 0.8em;
	border-radius: 4px;
	transition: transform 0.1s;
}

.proj-link-btn:hover {
	transform: scale(1.02);
}

.btn-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.proj-code-btn {
	display: block;
	text-align: center;
	width: 50%;
	background-color: var(--secondary);
	text-decoration: none;
	font-size: 0.8rem;
	color: var(--dark);
	padding: 0.8em;
	margin: 0.8em;
	border-radius: 4px;
	transition: transform 0.1s;
}

.proj-code-btn:hover {
	transform: scale(1.02);
}

.email {
	text-decoration: none;
	color: var(--primary);
}

/* media query */

@media screen and (max-width: 1024px) {
	.nav-mobile {
		display: block;
	}
	.main {
		flex-direction: column;
	}
	.nav-div {
		display: none;
	}
	.content-div {
		width: 100%;
	}
	.header-design {
		top: 70px;
	}
}
